{% load static %}
{% load kitamanagertags %}
{% load i18n %}

<!doctype html>
<html lang="de">
    <head>
      <title>{% translate "Kitamanager" %}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% include 'kitamanager/base_css.html' %}
    </head>

    <body>
      {% include 'kitamanager/base_js.html' %}
      {% block navigation %}

      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'kitamanager:index' %}">
          </a>
          <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                {% translate "Employees" %}
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{% url 'kitamanager:employee-list' %}">
                  {% translate "List" %}
                </a>
                <a class="navbar-item" href="{% url 'kitamanager:employeepayment-list' %}">
                  {% translate "Payment plans" %}
                </a>
                <a class="navbar-item" href="{% url 'kitamanager:employee-bonuspayment' %}">
                  {% translate "Bonus payment calculator" %}
                </a>
                <a class="navbar-item" href="{% url 'kitamanager:employee-statistics' %}">
                  {% translate "Statistics" %}
                </a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                {% translate "Children" %}
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{% url 'kitamanager:child-list' %}">
                  {% translate "List" %}
                </a>
                <a class="navbar-item" href="{% url 'kitamanager:child-list-future' %}">
                  {% translate "Future" %}
                </a>
                <a class="navbar-item" href="{% url 'kitamanager:childpayment-list' %}">
                  {% translate "Payment plans" %}
                </a>
                <a class="navbar-item" href="{% url 'kitamanager:child-statistics' %}">
                  {% translate "Statistics" %}
                </a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                {% translate "Finance" %}
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{% url 'kitamanager:bankaccount-list' %}">
                  {% translate "bank accounts" %}
                </a>
              </div>
            </div>
            <a class="navbar-item" href="{% url 'admin:index' %}">
              {% translate "Admin" %}
            </a>
          </div>
        </div>
        
      </nav>
      {% endblock navigation %}

      <div class="container is-fluid">
        {% block notification %}
        {% if messages %}
        <section class="section">
          <ul class="messages">
            {% for message in messages %}
            <li class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
              {{ message }}
            </li>
            {% endfor %}
          </ul>
        </section>
        {% endif %}
        {% endblock notification %}

        <section class="section">
          {% block content %}{% endblock content %}
        </section>
      </div>
      <footer class="footer">
        <div class="content has-text-centered">
          {% django_kitamanager_version as version %}
          version: {{ version }}
        </div>
      </footer>
    </body>
</html>
