{% extends "kitamanager/base.html" %}
{% load i18n %}

{% block content %}
  <div class="box">
    <h5 class="title">
      {% translate "children payments for plan " %}: {{ plan.name }}
    </h5>
  <div class="notification is-info is-light">
    {% blocktranslate trimmed %}
    Those tables do contain the rules how much money the Kita
    gets for a child with different age and properties.</br>
    It also contains the requirements in terms of required employees.
    Eg. a requirement of 1.0 and 39,40 h/week for a full time job means,
    that 39,40 h/week are required.
    {% endblocktranslate %}
  </div>

    {% for table in object_list %}
    <div class="box">
    <h6 class="subtitle">
      {{ table.start|date:"SHORT_DATE_FORMAT" }} - {{ table.end|date:"SHORT_DATE_FORMAT" }} ({{ table.hours }} {%translate "hours/week for a full time job" %})
    </h6>
    {% if table.comment %}
    <p>
      {{ table.comment|safe }}
    </p>
    {% endif %}
    <table class="table is-striped">
        <tr>
          <th>{% translate "child age" %}</th>
          <th>{% translate "propery name" %}</th>
          <th>{% translate "pay income (in €)" %}</th>
          <th>{% translate "requirement (employees full time)" %}</th>
          <th>{% translate "comment" %}</th>
        </tr>
        {% for table_entry in table.entries.all %}
        <tr>
          <td>{{ table_entry.age_start }} - {{ table_entry.age_end }}</td>
          <td>{{ table_entry.name }}</td>
          <td>{{ table_entry.pay }}</td>
          <td>{{ table_entry.requirement }}</td>
          <td>{{ table_entry.comment }}</td>
        </tr>
            
    {% endfor %}
    </table>
    </div>
    {% endfor %}
  </div>
{% endblock %}
