{% load i18n %}
{% load kitamanagertags %}
<div class="table-container">
  <table class="table is-striped is-hoverable">
    <thead>
      <tr>
        <th>
        </th>
        <th>{% translate "last name" %}</th>
        <th>{% translate "first name" %}</th>
        <th>{% translate "begin date" %}</th>
        <th>{% translate "pay plan" %}</th>
        <th>{% translate "pay group" %}</th>
        <th>{% translate "pay level" %}</th>
        <th>{% translate "pay level next" %}</th>
        <th>{% translate "area" %}</th>
        <th>{% translate "qualification" %}</th>
        <th>{% translate "hours child per week" %}</th>
        <th>{% translate "hours management per week" %}</th>
        <th>{% translate "hours team per week" %}</th>
        <th>{% translate "hours misc per week" %}</th>
        <th>{% translate "hours total per week" %}</th>
        <th>{% translate "monthly salary" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
      <tr>
        <td>
          <a class="button is-link is-small is-outlined" href="{% url 'admin:kitamanager_employee_change' obj.person.pk %}">{% translate "edit" %}</a>
          <a class="button is-link is-small is-outlined" href="{{ obj.person.get_absolute_url }}">{% translate "details" %}</a>
        </td>
        <td>{{ obj.person.last_name }}</td>
        <td>{{ obj.person.first_name }}</td>
        <td>{{ obj.person.begin_date }}</td>
        <td><a href="{{ obj.pay_plan.get_absolute_url }}">{{ obj.pay_plan.name }}</a></td>
        <td>{{ obj.pay_group }}</td>
        <td>{{ obj.pay_level }}</td>
        <td>{{ obj.person|pay_level_next:historydate|default:"-" }}</td>
        <td>{{ obj.area.name }}</td>
        <td>{{ obj.qualification.name }}</td>
        <td>{{ obj.hours_child }}</td>
        <td>{{ obj.hours_management }}</td>
        <td>{{ obj.hours_team }}</td>
        <td>{{ obj.hours_misc }}</td>
        <td>{{ obj.hours_total }}</td>
        <td>{{ obj.person|salary:historydate|floatformat:"2"|default:"-" }} €</td>
      </tr>
      {% endfor %}
    <tbody>
  </table>
</div>
