{% extends "kitamanager/base.html" %}
{% load i18n %}

{% block content %}
{% include "kitamanager/historydate_form.inc.html" %}

<div class="box">
  <div class="columns">
    <div class="column is-6">
      <div class="box">
        <h5 class="title">
          {% blocktranslate trimmed %}
          children requirements vs. employee working hours in percent over 100%
          {% endblocktranslate %}
        </h5>
        <div class="notification is-info is-light">
          {% blocktranslate trimmed %}
          Children requirements vs. Employee working hours. Only the child and team hours count for Employee working hours here.
          Eg. 10% means 110%. So everything over 0 is good.
          {% endblocktranslate %}
        </div>
        <canvas id="statisticChildRequirementVsEmployeeHoursPercentChart"></canvas>
      </div>
    </div>
    <div class="column is-6">
      <div class="box">
        <h5 class="title">
          {% blocktranslate trimmed %}
          children requirements vs. employee working hours
          {% endblocktranslate %}
        </h5>
        <div class="notification is-info is-light">
          {% blocktranslate trimmed %}
          Children requirements vs. Employee working hours. Only the child and team hours count for Employee working hours here.
          {% endblocktranslate %}
        </div>
        <canvas id="statisticChildRequirementVsEmployeeHoursChart"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  {% include "kitamanager/statistic_charts_child_requirements_vs_employee_hours.js" %}
  {% include "kitamanager/statistic_charts_child_requirements_vs_employee_hours_percent.js" %}
  window.onload = function() {
      statistic_child_requirements_vs_employee_hours('{{ historydate|date:"Y-m-d" }}');
      statistic_child_requirements_vs_employee_hours_percent('{{ historydate|date:"Y-m-d" }}');
  }
</script>
{% endblock %}
