{% extends "kitamanager/base.html" %}
{% load i18n %}

{% block content %}
{% include "kitamanager/historydate_form.inc.html" %}


<div class="box">
  <h5 class="title">
    {% blocktranslate trimmed %}
    children requirements vs. employee working hours
    {% endblocktranslate %}
  </h5>
  <div class="notification is-info is-light">
    {% blocktranslate trimmed %}
    Children requirements vs. Employee working hours. Only the child and team hours count for Employee working hours here.
    {% endblocktranslate %}
  </div>
  <canvas id="statisticChildRequirementVsEmployeeHoursChart"></canvas>
</div>

<script>
  {% include "kitamanager/statistic_charts_child_requirements_vs_employee_hours.js" %}
  window.onload = function() {
      statistic_child_requirements_vs_employee_hours('{{ historydate|date:"Y-m-d" }}');
  }
</script>
{% endblock %}
